<h1>{{group.name}}</h1>
<div class="form-container">
  <div class="form">
    <div class="div">
      <ng-multiselect-dropdown
        [placeholder]="'Add users'"
        [settings]="dropdownSettings"
        [data]="dropdownList"
        [(ngModel)]="selectedItems"
        (onSelect)="onItemSelect($event)"
        (onDeSelect)="onDeSelect($event)"
      >
      </ng-multiselect-dropdown>
    </div>
    <div class="div">
      <input
        id="roomsInput"
        [formControl]="roomsInput"
        type="text"
        placeholder="add rooms: room1,room2,"
        required
        autocomplete="off"
        name="roomsInput"
        >
    </div>
    <div class="div">
      <h2>make admin: </h2>
      <div class="users">
        <button *ngFor="let user of previousUsers" [ngClass]="{admin: user.role == 'admin'}" class="user" (click)="makeUserAdmin(user)">
          {{user.username}}
        </button>
      </div>
    </div>
    <button class="update" (click)="onUpdateGroup()">Update</button>
  </div>
</div>
