<header class="chat-header">
  <a routerLink="/"><h1><span style="color: white;">Chat</span> App</h1></a>
  <div *ngIf="userIsAuthenticated">
    <button routerLink="/" routerLinkActive="" class="btn">{{username}}</button>
    <button class="btn" (click)="onLogout()">Logout</button>
  </div>
  <div *ngIf="!userIsAuthenticated">
    <button routerLink="/login" routerLinkActive="" class="btn">Login</button>
    <button routerLink="/signup" routerLinkActive="" class="btn">Signup</button>
  </div>
</header>
