
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Odibee+Sans&family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,400;0,700;0,900;1,300;1,700;1,900&display=swap');
$light-color: #c9c9c9;

* {
    font-family: Lexend, Roboto, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
  font-family: Lexend, Roboto, Helvetica, sans-serif;
  font-size: 16px;
  background: $light-color;
  margin: 0;
  height: 100vh;
}
