* {
  outline: none !important;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form input {
  border: none;
  border-bottom: 2px solid white;
  padding: 5px 10px;
  outline: none;
  font-size: 20pt;
  color: white;
  background-color: transparent;
}

.form .div {
  margin-bottom: 30px;
  width: 100%;
}

.form .divInput {
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form p {
  color: rgb(224, 78, 78);
  margin: 0;
  margin-top: 5px;
  font-size: 10pt;
}

.form .form-button {
  all: unset;
  text-align: center;
  padding-block: 10px;
  font-size: 20pt;
  background-color: #5865F2;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

h1 {
  color: white;
  text-align: center;
  margin-top: 75px;
  margin-bottom: 20px;
  font-weight: 400;
}

$base-color: #5865F2;
$disable-background-color: red;
.multiselect-dropdown {
  position: relative;
  width: 100%;
  font-size: inherit;
  font-family: inherit;
  outline: none !important;
  .dropdown-btn {
    display: inline-block;
    border: none !important;
    border-bottom: 2px solid white !important;
    width: 100%;
    padding: 5px 10px !important;
    font-size: 20pt !important;
    margin-bottom: 0;
    font-weight: normal;
    line-height:normal !important;
    text-align: left;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border-radius: 0 !important;
    color: grey;
    max-width: 300px;
    .selected-item {
      display: flex;
      border: 1px solid $base-color !important;
      margin-right: 4px;
      background: $base-color !important;
      padding: 5px 10px !important;
      color: #fff;
      border-radius: 8px !important;
      float: left;
      max-width: fit-content !important;
      margin-bottom: 10px;
      font-size: 10pt;
      a {
        text-decoration: none;
        padding-left: 6px;
        color: white;
      }
    }
    .selected-item:hover {
      box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.389) !important;
    }
    .dropdown-multiselect__caret {
      line-height: 16px;
      display: block;
      position: absolute;
      box-sizing: border-box;
      width: 40px;
      height: 38px;
      right: 1px;
      top: 0px;
      padding: 4px 8px;
      margin: 0;
      text-decoration: none;
      text-align: center;
      cursor: pointer;
      transition: transform 0.2s ease;
    }
    .dropdown-multiselect__caret:before {
      position: relative;
      right: 0;
      top: 65%;
      color: #999;
      margin-top: 4px;
      border-style: solid;
      border-width: 8px 8px 0 8px;
      border-color: #999999 transparent;
      content: "";
    }
    .dropdown-multiselect--active .dropdown-multiselect__caret {
      transform: rotateZ(180deg);
    }
  }
  .disabled {
    & > span {
      background-color: $disable-background-color;
    }
  }
}

.multiselect-dropdown:focus {
  outline: none !important;
}

.dropdown-list {
  position: absolute;
  padding: 10px 10px !important;
  width: 100%;
  z-index: 9999;
  border: none !important;
  border-radius: 10px !important;
  background: rgb(32, 32, 32) !important;
  margin-top: 10px;
  box-shadow: none !important;
  height:max-content !important;
  ul {
    padding: 0px;
    list-style: none;
    overflow: auto;
    margin: 0px;
  }
  li {
    padding: 6px 10px;
    cursor: pointer;
    text-align: left;
  }
  .filter-textbox {
    border-bottom: 1px solid rgba(204, 204, 204, 0.118) !important;
    position: relative;
    padding: 10px;
    padding-block: 5px !important;
    svg {
      color: white;
    }
    input {
      border: 0px;
      width: 100%;
      color: rgba(255, 255, 255, 0.781) !important;
    }
    input:focus {
      outline: none;
    }
  }
}

.multiselect-item-checkbox {
  border-bottom: 1px solid rgba(204, 204, 204, 0.118) !important;
}

.multiselect-item-checkbox:hover {
  background-color: #5865F2 !important;
  border-radius: 7px !important;
}

.multiselect-item-checkbox input[type="checkbox"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.multiselect-item-checkbox input[type="checkbox"]:focus + div:before,
.multiselect-item-checkbox input[type="checkbox"]:hover + div:before {
  border-color: $base-color !important;
  background-color: #f2f2f2;
}

.multiselect-item-checkbox input[type="checkbox"]:active + div:before {
  transition-duration: 0s;
}

.multiselect-item-checkbox input[type="checkbox"] + div {
  position: relative;
  padding-block: 10px !important;
  padding-left: 2em;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  margin: 0px;
  color: rgba(255, 255, 255, 0.781) !important;
}

.multiselect-item-checkbox input[type="checkbox"] + div:before {
  box-sizing: content-box;
  content: "";
  color: $base-color !important;
  position: absolute;
  top: 50%;
  left: -1px !important;
  width: 18px !important;
  height: 18px !important;
  margin-top: -11px !important;
  border: 2px solid $base-color !important;
  text-align: center;
  transition: all 0.4s ease;
  border-radius: 20px !important;
}

.multiselect-item-checkbox input[type="checkbox"] + div:after {
  box-sizing: content-box;
  content: "";
  background-color: $base-color !important;
  position: absolute;
  top: 50%;
  left: 4px;
  width: 10px;
  height: 10px;
  margin-top: -5px;
  transform: scale(0);
  transform-origin: 50%;
  transition: transform 200ms ease-out;
}

.multiselect-item-checkbox input[type="checkbox"]:disabled + div:before {
  border-color: #cccccc;
}

.multiselect-item-checkbox
  input[type="checkbox"]:disabled:focus
  + div:before
  .multiselect-item-checkbox
  input[type="checkbox"]:disabled:hover
  + div:before {
  background-color: inherit;
}

.multiselect-item-checkbox
  input[type="checkbox"]:disabled:checked
  + div:before {
  background-color: #cccccc;
}

.multiselect-item-checkbox input[type="checkbox"] + div:after {
  background-color: transparent;
  top: 50%;
  left: 4px;
  width: 8px;
  height: 3px;
  margin-top: -4px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 0 0 3px 3px;
  border-image: none;
  transform: rotate(-45deg) scale(0);
}

.multiselect-item-checkbox input[type="checkbox"]:checked + div:after {
  content: "";
  transform: rotate(-45deg) scale(1);
  transition: transform 200ms ease-out;
}

.multiselect-item-checkbox input[type="checkbox"]:checked + div:before {
  animation: borderscale 200ms ease-in;
  background: $base-color !important;
}

.multiselect-item-checkbox input[type="checkbox"]:checked + div:after {
  transform: rotate(-45deg) scale(1);
}

@keyframes borderscale {
  50% {
    box-shadow: 0 0 0 2px $base-color !important;
  }
}
